<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-3">
            <li class="page-item{% if current_page_number==1 %} disabled{% endif %}">
                <a class="page-link" href="index{{current_page_number-1}}.html">Назад</a>
            </li>
            {% for page_number in range(1, number_of_pages+1) %}
            <li class="page-item{% if current_page_number==page_number %} active{% endif %}">
                <a class="page-link"
                   href="index{{page_number}}.html">
                    {{page_number}}
                </a>
            </li>
            {% endfor %}
            <li class="page-item{% if current_page_number==number_of_pages %} disabled{% endif %}">
                <a class="page-link" href="index{{current_page_number+1}}.html">Вперед</a>
            </li>
        </ul>
    </nav>
    {% for books_row in books %}
    <div class="row">
        {% for book in books_row %}
        <div class="col">
            {% if book %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/{{book.image_src}}" class="card-img" alt="{{book.title}}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <p class="card-text">{{book.author}}</p>
                            <p><a href="/{{book.txt_src | urlencode}}" target="_blank">Читать</a></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="/jquery-3.5.1.slim.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>

<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="/jquery-3.5.1.slim.min.js"></script>
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
-->
</body>
</html>